section#contact.contact
	.container
		h3.section-heading Let’s Discuss
		p.section-descr Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
		.contact-species
			article.contact-feedback
				h4.feedback-title Say hello!
				form.feedback-form.clearfix
					.feedback-wrap.clearfix
						input(type='text' name="name" placeholder='Name').feedback-name
						input(type='text' name="email" placeholder='Email').feedback-email
					textarea(name="message" placeholder='Message').feedback-message
					input(type='submit' value='Send message').feedback-btn
			article.contact-social
				ul.contact-social-list
					li.contact-social-item
						a(href='#').contact-social-link.contact-social-bh Behance
					li.contact-social-item
						a(href='#').contact-social-link.contact-social-tw Twitter
					li.contact-social-item
						a(href='#').contact-social-link.contact-social-db Dribbble
					li.contact-social-item
						a(href='#').contact-social-link.contact-social-fr Forest
					li.contact-social-item
						a(href='#').contact-social-link.contact-social-gl Google+