header.header
	.container.clearfix
		.logo
			h1.logo-text.clearfix
				a(href='/').logo-link Brandi
				span.logo-tagline I'am your tag line
		nav.nav-menu
			ul.nav-menu-list
				li.nav-menu-item
					a(href='#').nav-menu-link Home
				li.nav-menu-item
					a(href='#').nav-menu-link Features
				li.nav-menu-item
					a(href='#').nav-menu-link Works
				li.nav-menu-item
					a(href='#').nav-menu-link Team
				li.nav-menu-item
					a(href='#').nav-menu-link Contact