header.header
	.container.clearfix
		.logo
			h1.logo-text.clearfix
				a(href='/').logo-link Brandi
				span.logo-tagline I'am your tag line
		nav.nav-menu
			a.nav-menu-trigger(href='#')
			ul.nav-menu-list
				li.nav-menu-item
					a(href='#home').nav-menu-link Home
				li.nav-menu-item
					a(href='#features').nav-menu-link Features
				li.nav-menu-item
					a(href='#works').nav-menu-link Works
				li.nav-menu-item
					a(href='#team').nav-menu-link Team
				li.nav-menu-item
					a(href='#contact').nav-menu-link Contact