include _svg-icon

section#home.home
	ul.slider-list
		li.slider-item
			.home-info
				h2.home-title Meet 
					span.home-title-fatty Brandi
					|!
				p.home-descr
					span.home-descr-start /creative 
					| one page template.
				p.home-motto We are a team of professionals
				ul.home-social-list
					each item in icon
						li.home-social-item
							a(href='#').home-social-link
								svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.693 56.693').home-social-icon
									path(d=item)
			img(src='img/slide-one.jpg' alt='slide-one').slider-img
		li.slider-item
			.home-info
				h2.home-title Meet 
					span.home-title-fatty Brandi
					|!
				p.home-descr
					span.home-descr-start /creative 
					| one page template.
				p.home-motto We are a team of professionals
				ul.home-social-list
					each item in icon
						li.home-social-item
							a(href='#').home-social-link
								svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.693 56.693').home-social-icon
									path(d=item)
			img(src='img/slide-two.jpg' alt='slide-two').slider-img