doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Brandi
		// build:css css/vendor.min.css
		// bower:css
		// endbower
		// endbuild
		// build:css fonts/fonts.min.css
		link(rel='stylesheet' href='fonts/fonts.css')
		// endbuild
		// build:css css/style.min.css
		link(rel='stylesheet' href='css/style.css')
		// endbuild
	body
		<!--[if lt IE 9]>
		p.browsehappy Your browser has become outdated, please 
			a(href='http://browsehappy.com/') update 
			| it.
		<![endif]-->

		include includes/_header

		include includes/_home

		include includes/_features

		include includes/_works

		include includes/_team

		include includes/_contact

		include includes/_popup

		include includes/_footer
		
		// build:js js/vendor.min.js
		// bower:js
		// endbower
		// endbuild
		// build:js js/main.min.js
		script(src='js/main.js')
		// endbuild